div {
	width: 150px;
	height: 50px;
	margin: 10px;
	padding: 22px;
	border: 1px solid black;
	color: white;
}

#redb {
	background-color: red;
	margin-left: 0px;
}

#orangeb {
	background-color: orange;
	margin-left: 30px;
}

#yellowb {
	background-color: yellow;
	margin-left: 60px;
}

#greenb {
	background-color: green;
	margin-left: 90px;
}

#blueb {
	background-color: blue;
	margin-left: 120px;
}

#purpleb {
	background-color: purple;
	margin-left: 150px;
}